name: 'lint & build'

on: [pull_request, push]

jobs:
  build:
    name: 'lint & build'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          check-latest: true
      - run: npm install
      - run: npm run build
